<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	<display-name>SALES</display-name>
	<filter>
		<filter-name>StaticGzipFilter</filter-name>
		<filter-class>ims.framework.StaticGzipFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StaticGzipFilter</filter-name>
		<url-pattern>/packed/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>ims.framework.cn.SessionManager</listener-class>
	</listener>
	<servlet>
		<servlet-name>CNHost</servlet-name>
		<display-name>CNHost</display-name>
		<servlet-class>ims.framework.cn.CNHost</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CNEngine</servlet-name>
		<display-name>CNEngine</display-name>
		<servlet-class>ims.framework.cn.CNEngine</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<servlet-class>ims.framework.cn.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PrintReport</servlet-name>
		<display-name>PrintReport</display-name>
		<servlet-class>com.ims.query.server.PrintReport</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryServlet</servlet-name>
		<display-name>QueryServlet</display-name>
		<servlet-class>com.ims.query.server.QueryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportBuilder</servlet-name>
		<display-name>ReportBuilder</display-name>
		<servlet-class>com.ims.query.server.ReportBuilder</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportServlet</servlet-name>
		<display-name>ReportServlet</display-name>
		<servlet-class>com.ims.query.server.ReportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReturnAsUrlServlet</servlet-name>
		<display-name>ReturnAsUrlServlet</display-name>
		<servlet-class>com.ims.query.server.ReturnAsUrlServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryRunner</servlet-name>
		<display-name>QueryRunner</display-name>
		<servlet-class>com.ims.query.server.QueryRunner</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CabGw</servlet-name>
		<display-name>CabGw</display-name>
		<servlet-class>ims.cabinterface.CabGateway</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<display-name>File Upload</display-name>
		<servlet-class>ims.framework.cn.Upload</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>QuartzInitializer</servlet-name>
		<display-name>Quartz Initializer Servlet</display-name>
		<servlet-class>ims.quartz.scheduler.QuartzInitializerServlet</servlet-class>
			<init-param>
				<param-name>shutdown-on-unload</param-name>
				<param-value>true</param-value>
			</init-param>
			<init-param>
				<param-name>start-scheduler-on-load</param-name>
				<param-value>true</param-value>
			</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>HL7EngineServlet</servlet-name>
		<display-name>HL7EngineServlet</display-name>
		<servlet-class>ims.hl7.domain.HL7EngineServlet</servlet-class>
			<init-param>
				<param-name>user</param-name>
				<param-value>xxxxx</param-value>
			</init-param>
			<init-param>
				<param-name>pwd</param-name>
				<param-value>xxxxx</param-value>
			</init-param>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
		<load-on-startup>7</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>PDFUpload</servlet-name>
		<display-name>PDF Upload</display-name>
		<servlet-class>ims.framework.cn.PdfUpload</servlet-class>
		<load-on-startup>8</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ImageUpload</servlet-name>
		<display-name>Image Upload</display-name>
		<servlet-class>ims.framework.cn.ImageUpload</servlet-class>
		<load-on-startup>9</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Scheduled Tasks</servlet-name>
		<display-name>Scheduled Tasks</display-name>
		<servlet-class>ims.scheduler.SchedulerServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>PatientMerge</servlet-name>
		<display-name>Patient Merge</display-name>
		<servlet-class>ims.core.helper.PatientMergerServlet</servlet-class>
		<load-on-startup>11</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CNHost</servlet-name>
		<url-pattern>/CNHost</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CNEngine</servlet-name>
		<url-pattern>/CNEngine</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrintReport</servlet-name>
		<url-pattern>/PrintReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/QueryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportBuilder</servlet-name>
		<url-pattern>/ReportBuilder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/ReportServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReturnAsUrlServlet</servlet-name>
		<url-pattern>/ReturnAsUrlServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryRunner</servlet-name>
		<url-pattern>/QueryRunner</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CabGw</servlet-name>
		<url-pattern>/CabGw</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/Upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuartzInitializer</servlet-name>
		<url-pattern>/QuartzInitializer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HL7EngineServlet</servlet-name>
		<url-pattern>/HL7Engine</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/servlet/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PDFUpload</servlet-name>
		<url-pattern>/PDFUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageUpload</servlet-name>
		<url-pattern>/ImageUpload</url-pattern>
	</servlet-mapping>
	<session-config>
		<!-- Session timeout is specified in minutes -->
		<session-timeout>30</session-timeout>
	</session-config>
	<error-page>
		<error-code>400</error-code>
		<location>/blank.html</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/blank.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/blank.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/blank.html</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/blank.html</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/blank.html</location>
	</error-page>
	<error-page>
		<error-code>407</error-code>
		<location>/blank.html</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
		<location>/blank.html</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/blank.html</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/blank.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/blank.html</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/blank.html</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/blank.html</location>
	</error-page>
	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/vnd.ms-excel</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xlsx</extension>
		<mime-type>application/vnd.ms-excel</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>full-screen.html</welcome-file>
	</welcome-file-list>
</web-app>